/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

/* intro */

.intro-start {
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.intro-start-text {
    color: rgb(233, 233, 233);
    font-size: 3rem;
}

.intro-start-hide {
    background: #111;
    overflow: hidden;
}

.intro-start-hide span {
    transform: translateY(100%);
    display: inline-block;
}

.slider-start {
    background: #555;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 9999;
}

.carousel-owl {
    /* background-image: linear-gradient(rgba(0, 168, 255, 0.3), rgba(0, 168, 255, 0.3)); */
    clip-path: polygon(100% 0%, 100% 90%, 50% 100%, 0 90%, 0 0);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

/* Enquire form */
.sticky-form {
    position: fixed;
    right: 0;
    top: 10rem;
    z-index: 100;
}

.enquire-form {
    color: #cecbcc;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem;
    background-color: rgb(230, 230, 236, 0.8);
    transition: 0.43s;
}

.enquire-child {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

select {
    color: #111;
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.25rem;
    padding-bottom: 0.6rem;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid rgb(0, 12, 44);
}

.sticky-form input {
    width: 100%;
    padding: 0.25rem;
    border: none;
    border-bottom: 1px solid rgb(0, 12, 44);
    transition: border-color 0.2s ease;
    background: none;
}

.sticky-form input:focus {
    outline: none;
}

.sticky-form-button {
    margin: 0 auto;
    width: 50%;
    padding: 0.75rem 1.5rem;
    background-color: #000c2c;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.closeOpen {
    right: 0;
    right: -60px !important;
}

.enquire-btn {
    background-color: #fff;
    color: black;
    width: 10rem;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 250px;
    color: #000c2c;
    height: 40px;
    border-radius: 0;
    font-size: 15px;
    cursor: pointer;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    border: 0;
    transition: 0.4s;
}

/* Navbar */
.navbar-light .navbar-brand {
    color: #fff;
    /* color: #111; */
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 6px;
}

/* .navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
} */

/* .navbar-light .navbar-nav .nav-link {
    color: #fff;
}

*/
/* .navbar-toggler {
    background: #fff;
} */

/* Menu Button */

/*styling open close button*/
.button {
    display: inline;
    position: absolute;
    right: 50px;
    top: 6px;
    z-index: 100;
    font-size: 30px;
    transition: 0.4s;
}

.button:hover {
    transform: scale(1.1);
}

.button a {
    text-decoration: none;
}

.btn-open:after {
    color: #fff;
    /* color: #111; */
    content: "\f0c9";
    font-family: "FontAwesome";
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}

.btn-open:hover:after {
    /* color: #2b90d9; */
}

.btn-close:after {
    color: #fff;
    /* color: #111; */
    content: "\f00d";
    font-family: "FontAwesome";
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}

.btn-close:hover:after {
    /* color: #2b90d9; */
}

/*overlay*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: #333;
    overflow: auto;
    z-index: 99;
}

.wrap {
    color: #e9e9e9;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

.wrap ul.wrap-nav {
    border-bottom: 1px solid #575757;
    text-transform: capitalize;
    padding: 150px 0px 100px;
}

.wrap ul.wrap-nav li {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    width: 24%;
    position: relative;
}

.wrap ul.wrap-nav li a {
    color: #2b90d9;
    display: block;
    padding: 8px 0;
    text-decoration: none;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}

.wrap ul.wrap-nav li a:hover {
    color: #f0f0f0;
}

.wrap ul.wrap-nav ul {
    padding: 20px 0;
}

.wrap ul.wrap-nav ul li {
    display: block;
    font-size: 13px;
    width: 100%;
    color: #e9e9e9;
}

.wrap ul.wrap-nav ul li a {
    color: #f0f0f0;
}

.wrap ul.wrap-nav ul li a:hover {
    color: #2b90d9;
}

.social {
    font-size: 25px;
    padding: 20px;
}

.social p {
    margin: 0;
    padding: 20px 0 5px 0;
    line-height: 30px;
    font-size: 13px;
}

.social p a {
    color: #2b90d9;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.social-icon {
    width: 80px;
    height: 50px;
    background: #e9e9e9;
    color: #333;
    display: inline-block;
    margin: 0 20px;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: 0.6s;
}

.social-icon:hover {
    background: #333;
    color: #f0f0f0;
    transform: scale(1.2);
}

.social-icon i {
    margin-top: 12px;
}

@media screen and (max-width:48em) {
    .wrap ul.wrap-nav>li {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #575757;
    }

    .wrap ul.wrap-nav {
        padding: 30px 0px 0px;
    }

    nav ul {
        opacity: 0;
        visibility: hidden;
    }

    .social {
        color: #c1c1c1;
        font-size: 25px;
        padding: 15px 0;
    }

    .social-icon {
        width: 100%;
        height: 50px;
        background: #fff;
        color: #333;
        display: block;
        margin: 5px 0;
    }
}

/* Carousel */

.owl-nav-custom {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.owl-nav-custom .owl-nav {
    position: absolute;
    top: calc(50% - 1.75rem);
    left: 2.5rem;
    width: calc(100% - 5rem);
    height: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.owl-custom-header {
    font-size: 3.5rem !important;
}

@media (max-width: 991.98px) {
    .owl-nav-custom .owl-nav {
        width: 100%;
        left: 0;
    }
}

@media (max-width: 767.98px) {
    .owl-nav-custom .owl-nav {
        -ms-flex-pack: end;
        justify-content: flex-end;
        top: auto;
        bottom: 1.75rem;
        -webkit-transform: none;
        transform: none;
    }
}

.owl-nav-custom .owl-nav .owl-prev,
.owl-nav-custom .owl-nav .owl-next {
    width: 3.5rem;
    height: 3.5rem;
    background: rgba(0, 0, 0, 0.5) !important;
    line-height: 3.5rem !important;
    transition: all 0.3s;
    outline: none;
    text-align: center;
    color: #fff;
    position: relative;
}

.owl-nav-custom .owl-nav .owl-prev.disabled,
.owl-nav-custom .owl-nav .owl-next.disabled {
    opacity: 0;
    z-index: -1;
}

.owl-nav-custom .owl-nav .owl-prev span,
.owl-nav-custom .owl-nav .owl-next span {
    color: #fff;
    font-size: 2.5rem;
}

.owl-nav-custom .owl-nav .owl-prev:hover,
.owl-nav-custom .owl-nav .owl-next:hover {
    background: #2b90d9 !important;
}

@media (min-width: 992px) {

    .owl-nav-custom .owl-nav .owl-prev::before,
    .owl-nav-custom .owl-nav .owl-next::before {
        content: 'Prev';
        width: 5rem;
        height: 3.5rem;
        position: absolute;
        top: 0;
        right: -5rem;
        background: rgba(0, 0, 0, 0.8);
        line-height: 3.3rem;
        transition: all 0.3s;
        text-align: center;
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }
}

.owl-nav-custom .owl-nav .owl-prev:hover::before,
.owl-nav-custom .owl-nav .owl-next:hover::before {
    -webkit-transform: none;
    transform: none;
}

@media (min-width: 992px) {
    .owl-nav-custom .owl-nav .owl-next::before {
        content: 'Next';
        right: auto;
        left: -5rem;
        -webkit-transform-origin: top right;
        transform-origin: top right;
    }
}

.owl-theme .owl-dots .owl-dot {
    outline: none;
}

.owl-theme .owl-dots .owl-dot span {
    margin: 3px;
    width: 10px;
    height: 10px;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #2b90d9;
}

.owl-carousel .owl-item img {
    width: unset;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 1.5rem;
}

.hero-slide,
.hero {
    position: relative;
}

.hero-slide::before,
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
    display: block;
}

.hero-slide {
    position: relative;
    min-height: 650px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 991.98px) {
    .hero-slide {
        min-height: auto;
    }
}

.owl-nav {
    color: #fff;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

/* overview */
/* The Image container */
.img-hover-zoom {
    height: 300px;
    /* Modify this according to your need */
    overflow: hidden;
    /* Removing this will break the effects */
}

.img-hover-zoom::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

/* Slow-motion Zoom Container */
.img-hover-zoom--slowmo img {
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
    filter: brightness(150%);
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
    filter: brightness(100%);
    transform: scale(3);
}

/* Commercial and residential building */

.projectTypes-button {
    border: none;
    padding: 10px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(230, 230, 236, 0.3);
    cursor: pointer;
}

.project-types {
    display: flex;

}

.res,
.com {
    position: relative;
}

.project-images {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.res:hover .project-images,
.com:hover .project-images {
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.7);
}

.res:hover .middle,
.com:hover .middle {
    opacity: 1;
}

.text {
    background-color: transparent;
    color: white;
    display: flex;
    font-size: 16px;
    padding: 16px 32px;
    z-index: 99;
}

/* wave */
.test {
    background-color: rgb(0, 255, 255);
}

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.wave-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

/* Moto and Philosophy */

/* footer */
.footer-top {
    position: relative;
    padding: 60px 0;
    /* background: #333; */
    /* background: #000; */
    /* background-image: url('https: //picsum.photos/id/411/1370/400'); */
    object-fit: cover;
    text-align: left;
    color: #aaa;
}

.footer-top::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 99;
    background-color: rgba(0, 0, 0);
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.footer-about img.logo-footer {
    max-width: 74px;
    margin-top: 0;
    margin-bottom: 18px;
}

/* img {
    max-width: 100%;
} */
.footer-contact i {
    padding-right: 10px;
    font-size: 18px;
    color: #666;
}

.footer-social a {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 8px;
    color: #777;
    border: 0;
    font-size: 1.5rem;
}

.footer-social a:hover,
.footer-about p a:hover,
.footer-contact p a:hover {
    color: rgb(209, 206, 206);
}

.footer-bottom {
    padding: 15px 0;
    background: #444;
    text-align: left;
    color: #aaa;
}

.footer-about p a {
    color: #aaa;
    border-bottom: 1px dashed #666;
    text-decoration: none;
}

.footer-contact p a {
    color: #aaa;
    border-bottom: 1px dashed #666;
    text-decoration: none;
}

/* footer form */

.footer-form input {
    background: transparent;
    margin: 5px;
    border: 1px solid #aaa;
    color: #fff;
}

.footer-form input::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    padding: 2px;
}


/* test */
/* 
The container box is relative so we can position stuff inside of it 
*/
.image-box {
    position: relative;
}


.image-box__background,
.image-box__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* 
  The background image div sizes and positions the background itself.
  It's also at the bottom-most position in our "div stack" (z-index 1)
  
  We set the image url via a CSS custom property, that's set via the style attribute in our HTML
  */
.image-box__background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: var(--image-url);

    z-index: 1
}

/* 
  The overlay div is just a colored element with some opacity.
  It's above the background image in our stack, so it appears to 
  darken the image 
  */
.image-box__overlay {
    background: rgba(0, 0, 0, 0.8);

    z-index: 2;
}

/* 
  The content div is at the top of our stack. 
  We'd probably add some padding or flexbox properties here as well, 
  to place the content appropriately
  */
.image-box__content {
    position: relative;

    z-index: 3;
    padding: 40px;
    color: white;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


ol.list-numbers {
    list-style: none;
    padding-left: 0;
    counter-reset: my-awesome-counter;
}

ol.list-numbers li {
    counter-increment: my-awesome-counter;
    position: relative;
    padding-left: 3.5rem;
}

ol.list-numbers li::before {
    content: counter(my-awesome-counter) ". ";
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #007bff;
}

/* shadow */
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

/* Contact  */
.index-forward {
    position: relative;
    /* z-index: 99; */
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #2b90d9;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-slide,
.hero {
    position: relative;
    /* background-attachment: fixed; */
}

.hero-slide::before,
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
    display: block;
}

.bg-cover {
    background-size: cover !important;
    background-attachment: fixed !important;
}

.breadcrumb-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.breadcrumb-item a {
    color: #fff !important;
    transition: all 0.3s;
}

.breadcrumb-item a:hover {
    color: #2b90d9 !important;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #2b90d9;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '|';
    color: white;
    padding-right: 1rem;
    font-weight: 400;
}

.bg-none {
    background: none !important;
}

/* divider section */
/* .bg-cover {
    background-size: cover !important;
    background-position: center center !important;
}

.bg-center {
    background-position: 50% 50% !important;
}

.overlay-content {
    position: relative;
    z-index: 20;
}

.primary-overlay-sm {
    position: relative;
}

@media (min-width: 576px) {
    .primary-overlay-sm::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: ' ';
        opacity: .85;
        background: #2b90d9;
    }
} */


/* About Us Page */

.about-body {
    font-family: Lora;
    /* font-family: 'Open Sans', sans-serif; */
    background-image: linear-gradient(rgba(147, 236, 252, 0.301), rgba(157, 235, 192, 0.26)), url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway
}


p {
    line-height: 1.75
}

.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem
}

.section-heading .section-heading-lower {
    display: block;
    font-size: 3rem;
    font-weight: 100
}

.bg-faded {
    background-color: rgba(221, 224, 224, 0.836)
}

.intro {
    position: relative
}

@media (min-width:992px) {
    .intro .intro-img {
        width: 75%;
        float: right
    }

    .intro .intro-text {
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute
    }

    .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem
    }
}

@media (min-width:1200px) {
    .intro .intro-text {
        width: 45%
    }
}

.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(219, 222, 223, 0.74)
}

.cta .cta-inner {
    position: relative;
    padding: 3rem;
    margin: .5rem;
    background-color: rgba(255, 255, 255, .85)
}

.cta .cta-inner:before {
    border-radius: .5rem;
    content: '';
    position: absolute;
    top: -.5rem;
    bottom: -.5rem;
    left: -.5rem;
    right: -.5rem;
    border: .25rem solid rgba(255, 255, 255, .85);
    z-index: -1
}

@media (min-width:992px) {
    .about-heading .about-heading-img {
        position: relative;
        z-index: 0
    }

    .about-heading .about-heading-content {
        margin-top: -5rem;
        position: relative;
        z-index: 1
    }
}

@media (min-width:992px) {
    .product-item .product-item-title {
        position: relative;
        z-index: 1;
        margin-bottom: -3rem
    }

    .product-item .product-item-img {
        position: relative;
        z-index: 0;
        max-width: 60vw
    }

    .product-item .product-item-description {
        position: relative;
        z-index: 1;
        margin-top: -3rem;
        max-width: 50vw
    }
}

.list-hours {
    font-size: .9rem
}

.list-hours .list-hours-item {
    border-bottom: 1px solid rgba(29, 28, 27, 0.5);
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    font-style: italic
}

@media (min-width:992px) {
    .list-hours {
        width: 50%;
        font-size: 1.1rem
    }
}

.bg-primary {
    /* background-color: #bfc9ce !important */
}

.font-weight-light {
    font-weight: 100 !important
}